<section class="clean-block clean-info dark">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Info</h2>
      <p>Are you a e-commerce business? Looking for a trusted shipping partner? Open a Commonline Express business
        account today.</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-6"><img class="img-thumbnail" src="../../../assets/images/general_courier.jpg"></div>
      <div class="col-md-6">
        <h3>Manage your shipments and returns</h3>
        <div class="getting-started-info">
          <i class="fa fa-archive  fa-4x" aria-hidden="true"></i>

        </div>
      </div>
    </div>
  </div>
</section>
<section class="clean-block features">
  <div class="container">
    <div class="block-heading">
      <h2 class="text-info">Features</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae
        leo.</p>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5 feature-box"><i class="fa fa-ship"></i>
        <h4>Bootstrap 4</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="fa fa-ravelry"></i>
        <h4>Customizable</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="fa fa-superpowers"></i>
        <h4>Responsive</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
      <div class="col-md-5 feature-box"><i class="fa fa-anchor"></i>
        <h4>All Browser Compatibility</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis
          vitae leo.</p>
      </div>
    </div>
  </div>
</section>
