<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus autem dolorem sunt voluptatum quidem,
            inventore soluta? Provident incidunt, dolorum velit quibusdam commodi voluptates, similique quaerat, ea
            excepturi in esse culpa.</p>
          <div class="social-media">
            <ul class="list-inline">
              <li><a href="#"  data-toggle="tooltip" placement="top" ngbTooltip="facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" title=""><i class="fa fa-twitter"></i></a>
                <a href="#" title=""><i class="fa fa-google-plus"></i></a>
                <a href="#" title=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="footer-info-single">
          <h2 class="title">Sitemap</h2>
          <ul class="list-unstyled">
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> How to Pay</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> FAQ's</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Sitemap</a></li>
            <li><a href="#" title=""><i class="fa fa-angle-double-right"></i> Info</a></li>
          </ul>
        </div>
      </div>

      <div class="col-6">
        <div class="footer-info-single">
          <h2 class="title">Opening hours</h2>
          <p>Mon - Fri<span class="space1"></span>9.am - 5.pm</p>
          <p>saturday<span class="space2"></span> 9.am - 2.pm</p>
        </div>
      </div>
    </div>
  </div>

  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <p>Copyright © 2021. Commonline Express (Pvt) Ltd.</p>
        </div>
        <div class="col-sm-6"></div>
      </div>
    </div>
  </section>
</footer>
