<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div class="footer-info-single text-center">
          <h2 class="title">Contact Details</h2>
          <p>Phone<span class="space1">+94 117 550 023</span></p>
          <p>Email<span class="space1">info@clexpress.lk</span></p>

        </div>
      </div>

      <div class="col-6">
        <div class="footer-info-single text-center">
          <h2 class="title">Opening hours</h2>
          <p>Mon - Fri<span class="space1"></span>9.am - 5.pm</p>
          <p>saturday<span class="space1"></span> 9.am - 2.pm</p>
        </div>
      </div>
      <div class="row">
        <div class="d-flex justify-content-center">
          <i class="mx-3 fa fa-facebook text-white"></i>
          <i class="mx-3 fa fa-google text-white"></i>
          <i class="mx-3 fa fa-linkedin text-white"></i>
          <i class="mx-3 fa fa-twitter text-white"></i>

          
        </div>
        
      </div>
    </div>
  </div>
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <p>Copyright © 2021. Commonline Express (Pvt) Ltd.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="d-flex justify-content-center">
            <p> Site Map | Terms of Use | Privacy & Security</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</footer>
